{% extends 'base.html' %}
{% block body %}

<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <style>
        .hidden{
            display:none;
        }

        div#updateBox {
            display:inline-block;
            width: 200px;
        }
        </style>
    </head>
    <body>
        <h2>{{ movie.movie_name }}</h2>
        <h2>Average User Rating: 

            {{ avg_score }}

        </h2>
        {% if 'id' in session %}
        <div id = "user_rating">
        {% if rating %}
            Your rating: {{ rating.rating }}
        {% else %}
                You have not rated this movie yet.
        {% endif %}
        </div>
        <div> <button type="button" class="btn btn-default" id="updateButton">Update Rating</button></div> 

        <div class='hidden' id="updateBox">
            <form class="form-signin" role="form" id="rating-form"> 
                <input type="text" name="rating" class="form-control" id="rating" placeholder="Enter Rating">
                <button id="movieUpdateButton" type="submit" class="btn btn-default">Submit Rating</button>
            </form>
        </div>
        {% endif %}
    </body>

<script src="/static/js/jquery-1.11.0.min.js"></script>
<!-- jQuery v1.11.0 -->
<script src="/static/js/bootstrap-3.2.0.min.js"></script>

    <script>
        $("#updateButton").click(updateRatingForm);
        $("#rating-form").submit(handleFormSubmit);

        function updateRatingForm(evt) {
            $("#updateBox").toggleClass('hidden');
        } 

        function handleFormSubmit(evt) {
            evt.preventDefault();

            var textInput = $("#rating");
            var newRating = textInput.val();

            if ((newRating <= 5 ) && (newRating >= 1) ){
                postRequestToUpdate(newRating);
            }
            else{
                alert("Invalid entry.")
            }
        }

        function postRequestToUpdate(newRating) {
            
            $.post(
                "/update/{{ movie.id }}", 
                {'newRating': newRating}, 
                function (data) {
                    console.log(data);
                    $("#user_rating").html("Your rating: "+data);
                    $.get()
                }
                )


       };

    </script>


</html>
{% endblock %}
